$def with (levels,langs,values)



<html>
  <head>
    <script type="text/javascript" src='scripts/jsapi'>
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart","table"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
	//var data=[];
        var level = google.visualization.arrayToDataTable(
[['$levels[0][0]'
$for row in levels[0][1:]:
	,'$row'
]
$for row in levels[1:]:
	,['$row[0]'
	$for val in row[1:]:
		,$val
	]
]
);
	//alert('hi');
	var lang = google.visualization.arrayToDataTable(
[['$langs[0][0]'
$for row in langs[0][1:]:
	,'$row'
]
$for row in langs[1:]:
	,['$row[0]'
	$for val in row[1:]:
		,$val
	]
]
);

	var data=[level,lang];
        var options = {
          title: 'Library Information',
	  pointSize: 5,
	  vAxis:{title:'Count'},
	  hAxis:{title:'Month'},
	  animation:{
        	duration: 1000,
        	easing: 'out'
      		}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	var table = new google.visualization.Table(document.getElementById('table_div'));
        //chart.draw(data, options);

	var current = 0;
	// Create and draw the visualization.
    	//var chart = new google.visualization.ComboChart(document.getElementById('visualization'));
    	var button = document.getElementById('switch');
    	function drawChart() {
      	// Disabling the button while the chart is drawing.
      	button.disabled = true;
      	google.visualization.events.addListener(chart, 'ready',
          function() {
            button.disabled = false;
            button.value = 'Switch to ' + (current ? 'Level' : 'Language');
          });
      	options['title'] = 'Library Information based on ' + (current ? 'Language' : 'Level');
	options['colors']=['Green', 'Red', 'Orange', 'Silver', 'Blue','Yellow','Gray','black'];
      	chart.draw(data[current], options);
	table.draw(data[current]);
    }
    drawChart();

    button.onclick = function() {
      current = 1 - current;
      drawChart();
    }
    var button1=document.getElementById('change');
	button1.onclick= function() {
		if(button1.value=='Change to Table View') {
		button1.value='Change to Line Chart';
		document.getElementById('chart_div').style.display='none';
		document.getElementById('table_div').style.display='block';
		drawChart();
	}
	else {
		button1.value='Change to Table View';
		document.getElementById('chart_div').style.display='block';
		document.getElementById('table_div').style.display='none';
		drawChart();
	}
    }
   }

    </script>
  </head>
  <body>
	<form>	
	<center>School : $values["schoolname"]  &nbsp;&nbsp;&nbsp;&nbsp;
$if values["clas"]!='0':
	Class : $values["clas"]
$else:
	Class : All
<center>
   	<div id="chart_div" style="width: 100%; height: 400px; display: block"></div><br>
	<div id="table_div" style="width: auto; height: 400px; display: none"></div>
	<center><input type='button' id='switch' name='switch' value='Switch to Language'>&nbsp;&nbsp;&nbsp;<input type='button' id='change' name='change' value='Change to Table View'></center>
  </body>
</html>
