$def with (dists,blcks,clsts,schls,values,name,classlist,options,year)
<html>
<head>
</head>
<body>
<script type='text/javascript' src='scripts/jsapi'></script>
<style type="text/css">
.thetable
{
border-style: solid;
border-color: white;
border-right-width: 0px;
border-left-width: 2px;
border-top-width: 0px;
border-bottom-width: 0px;
}
</style>
<script>
google.setOnLoadCallback(load);
function load() {
	//alert($values["dist"]+" "+$values["blck"]+" "+$values["clst"]+" "+$values["dist"])
	filldropdown($values["dist"],'blck');
	filldropdown($values["blck"],'clst');
	filldropdown($values["clst"],'schl');
	document.getElementById("schoolname").value='$options["schoolname"]';
	var dd=document.getElementById('dist');
	for(var i=0;i<=dd.options.length-1;i++)
		if(dd.options[i].value==$values["dist"])
			dd.options[i].selected="selected";
	dd=document.getElementById('blck');
	for(var i=0;i<=dd.options.length-1;i++)
		if(dd.options[i].value==$values["blck"])
			dd.options[i].selected="selected";
	dd=document.getElementById('clst');
	for(var i=0;i<=dd.options.length-1;i++)
		if(dd.options[i].value==$values["clst"])
			dd.options[i].selected="selected";
	var dd=document.getElementById('schl');
	for(var i=0;i<=dd.options.length-1;i++)
		if(dd.options[i].value==$values["schl"])
			dd.options[i].selected="selected";
	if ($values['schl']==0) {
		document.getElementById('displays').style.display='none';
	}		
	else {
		document.getElementById('displays').style.display='block';
		document.getElementById('chart').style.borderColor='gray';
	}
}

function some(){
	var select = document.getElementsByName("schl");      
	var text = select[0].options[select[0].selectedIndex].text;     
	//alert(text);
	document.getElementById("schoolname").value=text;
	//alert(text);
	document.forms["form1"].submit();
}

var district=new Array();
var block=new Array();
var cluster=new Array();
var school=new Array();
var i,j;

i=0;
$for index,blck in enumerate(blcks):
	temp=new Array();
	temp[0]='$blck[0]'; temp[1]='$blck[1]'; temp[2]='$blck[2]'; block[$index]=temp;
$for index,clst in enumerate(clsts):
	temp=new Array();
	temp[0]='$clst[0]'; temp[1]='$clst[1]'; temp[2]='$clst[2]'; cluster[$index]=temp;
$for index,schl in enumerate(schls):
	temp=new Array();
	temp[0]='$schl[0]'; temp[1]='$schl[1]'; temp[2]='$schl[2]'; school[$index]=temp;

function filldropdown(value,type){
	var optionlist=new Array();
	var selectbox=document.getElementById(type);
	selectbox.options.length=1;
	if(type=='blck'){
		document.getElementById('clst').options.length=1;
		document.getElementById('schl').options.length=1;
		optionlist=block;
	}
	else if(type=='clst'){
		document.getElementById('schl').options.length=1;
		optionlist=cluster;
	}
	else if(type=='schl'){
		optionlist=school;
	}
	for(i=0,j=0;i<=optionlist.length-1;i++){
                if(optionlist[i][0]==value){
			selectbox.options[j+1]=new Option(optionlist[i][2],optionlist[i][1]);
			j=j+1
		}
	}
}	

</script>

<form id="form1" name="form1" method="post" action="go"><div id="mains" style="margin-left:50;margin-right:50;margin-top:0;background-color:white;"><center><hr><br>
<input type="hidden" id="schoolname" name="schoolname"/>
District : <select id="dist" name="dist" onchange="filldropdown(this.value,'blck');">
	<option value="0">Select District</option>
$for dist in dists:
	<option value="$dist[0]">$dist[1]</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;
Block : <select id="blck" name="blck" onchange="filldropdown(this.value,'clst')">
	<option value="0">Select Block</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;
Cluster : <select id="clst" name="clst" onchange="filldropdown(this.value,'schl')">
	<option>Select Cluster</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;
School : <select id="schl" name="schl" onchange="some();">
	<option>Select School</option>
</select></center><br><hr><br>
<table border=0 width='100%' align="center">
	<tr><td width='18%'><div id='displays' name='displays' align="right" style="margin-right:20px">
	<select name='chartopt' style="width:110px;" onchange="this.form.submit()">
	<option value='agg' selected="selected">Aggregate</option>
$if options['chartopt']=='borrow':
	<option value='borrow' selected="selected">Borrowing</option>
$else:
	<option value='borrow'>Borrowing</option>
</select>
<br><br>
Year : <select name='acyear' style="width:110px" onchange="this.form.submit()">
$for row in year:
	$if row.year==options["year"]:
		<option value='$row.year' selected="selected">$row.year</option>
	$else:
		<option value='$row.year'>$row.year</option>
</select><br><br>
Class :	<select name='clas' style="width:110px" onchange="this.form.submit()">
	<option value='0' selected="selected">All</option>
$for row in classlist:
	$if row.clas==int(options["clas"].strip()):
		<option value='$row.clas' selected="selected">$row.clas</option>
	$else:
		<option value='$row.clas'>$row.clas</option>

</select></div>
	</td><td width='82%'>
   	<iframe src="$name" class="thetable" id="chart" frameborder=0 height='500px' width='100%'/></td></tr></table>
</div></form>
<script>
</script>
</body>
</html>
